@tailwind base;
@tailwind components;
@tailwind utilities;
html{
height:100%;
width:100%;
background-image: url("/background.svg");
}
body{
  justify-content:center;
  align-items: center;
  display: flex;
}
.card{
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 20px;
  margin: 0px;
}
.collapse{
  padding: 20px;
  margin: 0px;
}
