@tailwind base;
@tailwind components;
@tailwind utilities;
html{
height:100%;
width:100%;
background-image: url("/background.svg");
}
body{
  justify-content:center;
  align-items: center;
  display: flex;
}
